<!DOCTYPE html>
<html>
<head>
  <title>TestDrivenTwitter</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'react' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if @current_user %>
  <%= button_to "Sign out", session_url, method: :delete %>
<% end %>

<%= yield %>

</body>
</html>
